/*ALL PAGES STYLING*/
*{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.main-title {
  font-family: shabby-chic,sans-serif;
font-weight: 400;
font-style: normal;
    text-align: left ;
    margin-top: 30px;
    margin-left: 3%;
    font-size: 50px;
    display: inline;
    margin-right: 30%;
}


h1, h2, h3, h4, a {
font-family: brandon-grotesque,sans-serif;
font-weight: 100;
font-style: normal;

}
p {
    font-family: brandon-grotesque,sans-serif;
font-weight: 100;
font-style: normal;
}
a:hover{
       color: #6c7856;
}

footer {
    background-color: #e2ebde;

    width: 100%;

    font-size: 23px;
    padding-left: 60px;
   line-height: 40px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr ;




}
footer, a, h1, h4 {
    text-align: center;
    margin-left: -4.5%;
    font-size: 16px;
    margin-top: -20px;
    padding-top: 30px;
}
footer, p {
    margin-top:
}


.footericons{
    width: 30px;
    margin: 10px;
    height: auto;
    background-color: transparent;
}
.footer-title {
    font-family: shabby-chic,sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 36px;
    padding: 1px;
display: inline-flex;


}

.rights {
    font-size: 12px;
}

.whitespace {

    background-color: transparent;
}
/*NAVIGATION*/
.navigation {
    display: inline;

}
nav {
    width: 100%;
}


nav a {
    text-decoration: none;
    text-align: right;
    padding-right: 65px;
    font-size: 19px;
    color: black;
    display: inline;
    font-weight: 500;
    margin-left: -1px
}

nav a:hover {
    color: #6c7856;
}
.cart {
    width: 18px;
    height: 18px;
    margin-top: 25px;
    display: inline;
}
.search {
   width: 18px;
    height: 18px;
    display: inline;
    margin-right: 10px;
    margin-top: 25px;
    display: inline-flex;
    margin-left: -15px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  background-color: white;
    width: 100%;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 900px;
    position:fixed;
    top:0;
}

/*BANNER*/
.banner {
    width: 31%;
    height: auto;
    display: inline-flex;
    height: 450px;
 padding: 2px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;


}

.banners {
    margin-left: 0px;
align-content: center;
    height: 100%;
    width: 100%;

}
.banner-container {
    margin-right: -4%;
    margin-left: 4%;
}

/*INDEX PAGE*/

.whitespace {
    height: 90px;
}
.shop-preview {
    width: 350px;
    height: auto;
    padding: 10px;

}
.shop {
      display: flex;

    margin-left: 12%;
}
.shop-now {
    margin-left: 56%;
    margin-top: -410px;
    text-align: center;
    width: 300px;
}
#ws2 {
    height: 300px;
}

/*INDEX PAGE MEDIA QUERIES*/
/*SHOP PAGE*/
/*SHOP PAGE MEDIA QUERIES*/
/*PORTFOLIO PAGE*/
/*PORTFOLIO PAGE MEDIA QUERIES*/
/*ABOUT PAGE*/
/*ABOUT PAGE MEDIA QUERIES*/
