/*ALL PAGES STYLING*/
.main-title {
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: liebeerika, sans-serif;
    font-weight: 400;
    font-style: normal;

}
footer {
    background-color: #f6f5f3;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
/*NAVIGATION*/
.navigation {
    display: inline;
    font-family: liebeerika, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10%;
}

.nav-bar {
    width: 90%;
    /*    background-color: #e9e4db;*/
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #6c7856;
}

/*BANNER*/
.banner {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 460px;
}

/*INDEX PAGE*/
.home-header {
    background-color: #f6f5f3;
    padding-bottom: 40px;
    margin: 20px;
}

.previews {
    background-color: #f6f5f3;
    padding-bottom: 40px;
    margin: 20px;
}

.preview-title {
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
}
.placeholder {
    display: inline;
   margin: 20px;
}
.example {
    padding: 10px;
}
.more {
    text-align: right;
    margin-right: 40px;
    font-size: 30px;
}
/*INDEX PAGE MEDIA QUERIES*/
/*SHOP PAGE*/
/*SHOP PAGE MEDIA QUERIES*/
/*PORTFOLIO PAGE*/
/*PORTFOLIO PAGE MEDIA QUERIES*/
/*ABOUT PAGE*/
/*ABOUT PAGE MEDIA QUERIES*/
